<div class="container_header">
    <div class="info_network">
        <div class="network_social">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
        <div class="correo">
            <a href="#">info@gmail.com</a>
            <a href="tel:+">5558350206</a>
        </div>
    </div>
    <div id="section_menu"></div>
</div>
<script src="src/js/VistaMenu.js"></script>
